<?xml version="1.0"?>
<launch>
    <arg name="robot_id" default="robot_0"/>
    <arg name="prefix" default="$(arg robot_id)_"/>
    <arg name="launch_amcl_and_mapserver" default="false"/>

    <!-- Map server -->
    <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
    <arg name="initial_pose_x" default="0.0" />
    <arg name="initial_pose_y" default="0.0" />
    <arg name="initial_pose_a" default="0.0" />

    <node if="$(arg launch_amcl_and_mapserver)" name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="$(arg prefix)map"/>
    </node>

    <!-- AMCL -->
    <include if="$(arg launch_amcl_and_mapserver)" file="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml">
        <arg name="odom_frame_id" value="$(arg prefix)odom"/>
        <arg name="base_frame_id" value="$(arg prefix)base_footprint"/>
        <arg name="global_frame_id" value="$(arg prefix)map"/>
        <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
        <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
        <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
    </include>

    <!-- Move base -->
    <include file="$(find cpswarm_turtlebot)/launch/move_base.launch.xml">
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="prefix" value="$(arg prefix)"/>
    </include>

</launch>

